body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}
h2 {
  font-family: "Outfit", serif;
  color: hsl(218, 44%, 22%);
}
p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
}

.qr {
  width: 300px;
  border-radius: 10px;
  margin-top: 15px;
}
.main-container {
  border-radius: 20px;
  background-color: white;
  width: 330px;
  text-align: center;
  margin: 10em auto 10em auto;
  padding-bottom: 30px;
}
.announce {
  width: 90%;
  margin: auto;
}
.text {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 50em) {
  .main-container {
    margin: 5em auto 0 auto;
  }
}
