body {
  display: grid;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  place-items: center;
}
p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
}

.qr {
  max-width: 90%;
  border-radius: 10px;
  margin-top: 15px;
}
.main-container {
  border-radius: 20px;
  background-color: white;
  max-width: 330px;
  text-align: center;
  padding: .2em;
}
.announce {
  font-family: "Outfit", serif;
  color: hsl(218, 44%, 22%);
  width: 90%;
  margin: auto;
}
.text {
  width: 80%;
  margin: auto;
}
